{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-array-from",
    "transform-class-properties",
    "transform-es2015-spread",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib"
      }
    ]
  ]
}
