{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "legacyDecorators": true
    }
  },
  "rules": {
    "semi": 0,
    "strict": 0,
    "valid-jsdoc": 2,
    "no-console": "warn",
    "space-before-function-paren": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/display-name": 0,
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^[$_]",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^[$_]"
      }
    ]
  },
  "settings": {
    "react": { "version": "16.4.1" }
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react"],
  "globals": {
    "window": true,
    "nx": true,
    "mixin": true,
    "React": true
  }
}
