<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Hello SPA</title>
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.libs['loadingScreen'] %>" />
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.libs['antdCss'] %>" />
  </head>
  <body>
    <!-- Main -->
    <main id="root">
      <section class="loading-screen">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <span>应用加载中</span>
      </section>
    </main>

    <!-- Dependencies -->
    <script src="<%= htmlWebpackPlugin.options.libs['react'] %>"></script>
    <script src="<%= htmlWebpackPlugin.options.libs['reactDom'] %>"></script>

    <script>
      window.onload = function() {
        var head = document.getElementsByTagName('head')[0];
        var fbScript = document.createElement('script');
        fbScript.type = 'text/javascript';
        fbScript.async = true;
        // this url MUST NOT BE mgt by sw.js
        fbScript.src = './fallback.js?v=' + Date.now();
        fbScript.onload = function() {
          if (navigator && navigator.serviceWorker && window.__SW_DISABLED__) {
            navigator.serviceWorker.getRegistration('/').then(function(reg) {
              reg && reg.unregister();
            });
          }
        };
        head.appendChild(fbScript);
      };
    </script>
  </body>
</html>
