/**index.scss Start**/
.main {
  color: #f00;
  font-size: 20px;
}

.title{
  // https://www.npmjs.com/package/postcss-modules-resolve-from-alias
  // composes: f20 tc from 'styles/index.scss';
  color: #f00;
  font-weight: bold;
}

/**index.scss  End**/
