.lt0{
  @extend .l0,.t0;
}

.alt0{
  @extend .abs,.lt0;
}

.enactive{
  &:active{
    background: #eee;
  }
}

.ovh{
  overflow: hidden;
}

.left-line{
  position: absolute;
  left:0;
}


.right-line{
  position: absolute;
  right:0;
}
