@import "node_modules/webkit-sass-reset/dist/webkit-sass-reset.scss";


@import "views/*";
@import "components/*";

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid red;

  p {
    background-color: yellow;
  }
}
