<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Hello SPA</title>
    <link href="<%= htmlWebpackPlugin.options.libs['spinKit'] %>" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Main -->
    <main id="root"><!--APP_LOADER--></main>

    <!-- Dependencies -->
    <script src="<%= htmlWebpackPlugin.options.libs['react'] %>"></script>
    <script src="<%= htmlWebpackPlugin.options.libs['reactDom'] %>"></script>

    <script>
      window.onload = function() {
        var head = document.getElementsByTagName('head')[0];
        var fbScript = document.createElement('script');
        fbScript.type = 'text/javascript';
        fbScript.async = true;
        // this url MUST NOT BE mgt by sw.js
        fbScript.src = './fallback.js?v=' + Date.now();
        fbScript.onload = function() {
          if (navigator && navigator.serviceWorker && window.__SW_DISABLED__) {
            navigator.serviceWorker.getRegistration('/').then(function(reg) {
              reg && reg.unregister();
            });
          }
        };
        head.appendChild(fbScript);
      };
    </script>
  </body>
</html>
