<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Hello SPA</title>
    <link href="<%= htmlWebpackPlugin.options.libs['antdCss'] %>" rel="stylesheet" media="screen" />
    <link href="<%= htmlWebpackPlugin.options.libs['spinkit'] %>" rel="stylesheet" media="screen" />
  </head>
  <body>
    <main id="root"><!--APP_LOADER--></main>

    <!-- Dependencies -->
    <script src="<%= htmlWebpackPlugin.options.libs['react'] %>"></script>
    <script src="<%= htmlWebpackPlugin.options.libs['reactDom'] %>"></script>

    <!-- Main -->
  </body>
</html>
