.wp-icon-call {
  width: to-rem(19);
  height: to-rem(19);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  //background-image: url("../../assets/images/wp-call-1.png");
  margin: -3px;
}
