// https://getbootstrap.com/docs/4.3/getting-started/theming/#theme-colors
$colors: (
  f: #fff,
  e: #eee,
  0: #000,
  3: #333,
  6: #666,
  8: #888,
  9: #999,
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  info: #17a2b8,
  danger: #dc3545,
  warning: #212529,
) !default;

@function color($inKey) {
  @return map-get($colors, $inKey);
}
